*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
/*Google Font for body copied from online*/
body{
  font-family: 'Roboto', sans-serif;  
}
/*This creates the navbar*/
.navbar{
  display: flex;
  align-items: center;
  padding: 20px;
}
/*Pushes nav to the right*/
nav{
  flex: 1;
  text-align: right;
  padding-bottom: 15px;
}
/*puts list in a horizontal line*/
nav ul{
  display:inline-block;
  list-style-type:none;
}
/*Takes away bulletpoints*/
nav ul li{
  display: inline-block;
  list-style-type: none;
}
/*Changes the anchor link color to black */
a{
  text-decoration:none;
  color: black;
  padding-left: 15px;
}
/*Keeps it black when hovered over?*/
p{
  color: #555
}
/*spaces the margins of the navbar containe evenly on the pa*/
.header-container{
  max-width:1300px;
  margin:auto;
  padding-left:25px;
  padding-right: 25px;   
}

.col-2{
  flex-basis:50%;
  min-width:300px;
}
.col-2 img{
  max-width:100%;
  padding-top:25px;
  padding-right:50px;
  padding-left:50px;
  margin-left:400px;
  align-self:center;
  
}
.thanks-message{
  text-align: center;
}

.cont-shping{
  padding-top:50px;
  padding-left: 580px;
}
.continue-shopping-btn{
  background-color: #555;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-family: 'Anton', sans-serif;  
    font-size: 20px;
}
.continue-shopping-btn:hover{
  background-color: #8B0000;
}



@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url('https://fonts.googleapis.com/css?family=Roboto:300,500,700,400|Poppins:600,500,400|Anton:400');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,500,700,400|Poppins:600,500,400|Anton:400');
* {
  box-sizing: border-box;
}
.continue-shopping- {
  background-color: var(--eerie-black);
  flex-shrink: 0;
  height: 37px;
  margin-top: 677px;
  position: relative;
  width: 183px;
}
.continue-shopping-J8XxyD {
  background-color: transparent;
  bottom: calc(31.58% - 6px);
  height: 18px;
  left: 17.21%;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: 66.67%;
}
.font-class-1 {
  color: white;
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 12px;
}
:root {
  --eerie-black: rgba(33,31,31,1.0);
}